.App {
  text-align: center;
}
html {
    height: 100%;
}
body {
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#deefff+11,98bede+53 */
    background: rgb(222,239,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(222,239,255,1) 11%, rgba(152,190,222,1) 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(222,239,255,1) 11%,rgba(152,190,222,1) 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(222,239,255,1) 11%,rgba(152,190,222,1) 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    
    background-attachment: fixed;
}

.img_avatar_large {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}
.img_avatar_tiny {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
