.card_page_layout {
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    padding: 3rem;
    margin-top: 3rem;
}

.bgWite {
    background-color: white;
}

.bgLightGray {
    background-color: #f2f2f2;
    color: #000000;
}

.bgLightBlue {
    background: #e6f2ff;
}

@media (max-width:778px){
    .card_page_layout {
        padding: 1.5rem;
        margin-top: .5rem;
    }
}
